*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
#pro-edu{
    display: flex;
    justify-content: space-between;
}
.pro-edu-head h1{
color: var(--Dark-02, #4A4A4A);
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 50px;
}
.pro-edu-nav ul{
    list-style: none;
    display: flex;
    gap: 60px;
    margin-top: 66px;
}
.pro-edu-nav ul li a{
color: var(--Dark-03, #777);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;

}
.nav-src{
border-radius: 5px;
border: 1px solid #289BDE;
width: 150px;
height: 56px;
margin-top: 65px;
padding-top: 13px;
padding-left: 33px;

}
.nav-src a{
color: #289BDE;

font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
text-decoration: none;

width: 84px;
height: 30px;
}
#bannar-one-id{
    background-image:url(img/bannar-girl.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    border-radius: 5px;
    margin-top: 48px;
   
  
         
}
.bannar-headding{
    width: 632px;
    margin: 0 auto;
    padding-top: 182px;
  
  
}
.bannar-headding h1{
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 65px;
font-style: normal;
font-weight: 600;





}
.bannar-para{
    width: 661px;
    margin: 0 auto;
    padding-top: 20px;
}
.bannar-para p{
color: var(--Dark-07, #F4F4F4);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;

}
.buttoon{
    width: 183px;
    margin: 0 auto;
    margin-top: 30px;
}
.bannar-btn{
    width: 182px;
    height: 56px;
    display: inline-flex;
    padding: 13px 33px;
    border-radius: 5px;
    border: 1px solid #289BDE;
    background: #289BDE;

   
   

}
.bannar-btn a{
color: #FFF;

font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}




/* 
section-....................................two */

#popular-id{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-top: 50px;
}
.popular-head{
    width: 549px;
    height: 120px;
    margin: 0 auto;
    margin-top: 130px;
}
.popular-head h1{
color: var(--Dark-01, #1D1D1D);
text-align: center;
font-family: Poppins;
font-size: 45px;
font-style: normal;
font-weight: 600;
}
.popular-para{
    width: 606px;
    margin: 0 auto;
    margin-top: 10px;
}
.popular-para p{
color: var(--Dark-03, #777);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;

}
.card-popular{
    width: 648px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid var(--Dark-06, #E8E8E8);
    background: #FFF;
    display: flex;
    
}
.img-popular{
    width: 200px;
    height: 200px;

}
.populr-card-head{
    width: 337;
    height: 38px;
    margin-top: 34px;
    margin-left: 24px;
}
.populr-card-head h1{
 color: var(--Dark-02, #4A4A4A);
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 600;

}
.popular-card-para{
    width: 397px;
    height: 48px;
    margin: 5px 27px 0px 24px;
}
.popular-card-para p{
color: var(--Dark-03, #777);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.package-price{
    width: 93px;
    height: 27px;
    margin: 5px 331px 33px 24px;
}
.package-price h2{
color: #289BDE;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.card-cursore{
    width: 250px;
    margin: 0 auto;
    margin-top: 50px;
    
}
.cursor-btn{
    width: 248px;
    height: 56px;
    padding: 13px 33px;
    border-radius: 5px;
    border: 1px solid #289BDE;
    background: #289BDE;
    
}
.cursor-btn a{
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
text-decoration: none;

}
/* elearn-/////////////////////////////////////////////start */


.Bg{
    background-color: #F4FAFD;
    margin-top: 143px;
}

#e-leard-id{
display: flex;
justify-content: space-between;

}

.e-learn-left img{
    width: 600px;
    height: 810px;
}


.e-learn-headding{
    width: 549px;
    height: 120px;
    margin-top: 130px;
 
}
.e-learn-headding h1{
    color: var(--Dark-01, #1D1D1D);
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    

}
.e-learn-para{
    width: 606px;
    height: 210px;
    margin-top: 10px;
 
}
.e-learn-para p{
    color: var(--Dark-03, #777);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.first-highlight-headding{
    width: 125px;
    height: 60px;
}
.first-highlight-headding h1{
color: var(--Dark-01, #1D1D1D);
text-align: center;
font-family: Poppins;
font-size: 45px;
font-style: normal;
font-weight: 600;

}
.highlight{
    display: flex;
    justify-content: space-between;
}
.first-highlight-para{
    width: 142px;
   
}
.first-highlight-para p{
    color: var(--Dark-03, #777);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.learn-btn{
border-radius: 5px;
border: 1px solid #289BDE;
background: #289BDE;
display: inline-flex;
padding: 13px 33px;
align-items: flex-start;
margin-top: 30px;

}
.learn-btn a{
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;
}
#admit-section{
    display: flex;
}
.blue{
    border-radius: 5px;
    background: #289BDE;
    height: 300px;
    margin-top: 130px;
}
.admit-headding{
    width: 321px;
    height: 60px;
    padding-top: 80px;
    margin-left: 100px;
    
  
}
.admit-headding h1{
    color: var(--White-Color, #FFF);
font-family: Poppins;
font-size: 45px;
font-style: normal;
font-weight: 600;
 
}
.admit-para{
    width: 528px;
    height: 60px;
    padding-top: 80px;
    margin-left: 100px;
}
.admit-para p{
    color: var(--Dark-07, #F4F4F4);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
}
.admit-btn{
display: inline-flex;
padding: 13px 33px;
align-items: flex-start;
border-radius: 5px;
border: 1px solid var(--White-Color, #FFF);
background: #FFF;
margin-top: 122px;
margin-left: 200px;

}
.admit-btn a{
color: #289BDE;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
text-decoration: none;


}


/* students .................................... students */

.student-headding{
    width: 549px;
    margin-top: 130px;
}
.student-headding h1{
 color: var(--Dark-01, #1D1D1D);
font-family: Poppins;
font-size: 45px;
font-style: normal;
font-weight: 600;
}
.student-para{
width: 556px;
color: var(--Dark-03, #777);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin-top: 20px ;
}
#student-id{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.student-card{
width: 312px;
height: 400px;
border-radius: 5px;
border: 1px solid var(--Dark-06, #E8E8E8);
background: #FFF;
}
.student-details h1{
width: 205px;
color: var(--Dark-02, #4A4A4A);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 21px;

}
.student-details p{
color: var(--Dark-03, #777);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 111px;
margin-top: 10px;
}
.view-btn{
width: 146px;
height: 56px;
border-radius: 5px;
border: 1px solid #289BDE;
background: #289BDE;
display: inline-flex;
padding: 13px 33px;
align-items: flex-start;
margin-top: 50px;

}
.view-btn a{
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;
}
.views{
    width: 146px;
    margin: 0 auto;
}





























/* resposnive-for............................-mobile */
@media only screen and (max-width: 600px) and (min-width: 300px){
.container{
    width: 100%;
    margin: 0 auto;
}
.coontainer-two{
    width: 335px;
    margin: 0 auto;
}
    #pro-edu{
        display: flex;
        flex-direction: column;
    }
    .pro-edu-head h1{
        text-align: center;
    }
    .pro-edu-nav ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        margin-top: 66px;
    }
    .nav-src{
        border-radius: 5px;
        border: 1px solid #289BDE;
        width: 150px;
        height: 56px;
      
        padding-top: 13px;
        padding-left: 33px;
       margin-left: 30%;
        
        }
        #bannar-one-id{
            background-image: url(img/bannar-girl.png) ;
            background-size: cover;
            background-repeat: no-repeat;
            width:100%;
            height: 262px;
            border-radius: 5px;
            margin-top: 48px;
           
          
                 
        }
        
        .bannar-headding{
            width: 230px;
            height: 60px;
            margin: 0 auto;
            padding-top: 39px;
           
          
        }
        .bannar-headding h1{
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
          
           
        }
        .bannar-para{
            width: 274px;
            height: 54px;
            margin: 0 auto;
            margin-top: 30px;
        }
        .bannar-para p{
            color: var(--Dark-07, #F4F4F4);
            text-align: center;
            font-family: Poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        
        }
        .buttoon{
            width: 131px;
            margin: 0 auto;
            margin-top: 30px;
        }
        .bannar-btn{
            width: 130px;
            height: 40px;
            display: inline-flex;
            padding: 7px 18px 9px 19px;
            border-radius: 5px;
            border: 1px solid #289BDE;
            background: #289BDE;
            margin-top: 20px;
        
           
           
        
        }
        .bannar-btn a{
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        .card-popular{
            width:335px;
            height: 402px;
            border-radius: 5px;
            border: 1px solid var(--Dark-06, #E8E8E8);
            background: #FFF;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            
        }
        .img-popular img{
            width: 335px;
            height: 224px;
        }
        
        .populr-card-head{
            width: 242px;
            height: 24px;
            margin-top: 34px;
            margin-left: 24px;
        }
        .populr-card-head h1{
            color: var(--Dark-02, #4A4A4A);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        
        }
        .popular-head{
            width: 272px;
            height: 27px;
            margin: 0 auto;
           
        }
        .popular-head h1{
            color: var(--Dark-01, #1D1D1D);
            text-align: center;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        #popular-id{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 24px;
            margin-top: 50px;
        }
        .popular-para{
            width: 305px;
            height: 72px;

        }
        .popular-para p{
            color: var(--Dark-03, #777);
            text-align: center;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
        .popular-card-para{
            width: 272px;
            height: 63px;
            margin: 5px 27px 0px 24px;
        }
        .popular-card-para p{
            color: var(--Dark-03, #777);
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .cursor-btn{
            width: 188px;
            height: 40px;
            padding: 10px 15px;
            border-radius: 5px;
            border: 1px solid #289BDE;
            background: #289BDE;
            margin-left: 100px;
            margin: 0 auto;
        }
        .cursor-btn a{
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        text-decoration: none;
        
        }
        .Bg{
            width: 335px;
            margin: 0 auto;
            margin-top: 32px;
 
        }
        .e-learn-left{
            width: 334px;
            margin: 0 auto;
        }
        
        .e-learn-left img{
            width: 334px;
            height: 224px;
        }
        #e-leard-id{
            display: flex;
           flex-direction: column;
            
            }
            .e-learn-headding{
                width: 289px;
                height: 60px;
                margin: 0 auto;
                margin-top: 20pxhnuj;
               
             
            }
            .e-learn-headding h1{
color: var(--Dark-01, #1D1D1D);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
            }
            .e-learn-para{
              
               
                margin-top: 10px;
                margin: 0 auto;
                width: 289px;
             
            }
            .e-learn-para p{
                color: var(--Dark-03, #777);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;

            }
            .highlight{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                width: 335px;
            }
            .ready-to-join{
                width: 345px;
               margin: 0 auto;
                
            }
            .blue{
                border-radius: 5px;
                background: #289BDE;
                height: 223px;
                width: 335px;
               margin-top: 52px;
            }
            #admit-section{
                display: flex;
                flex-direction: column;
            }
            .admit-headding{
                width: 129px;
                height: 0px;
                padding-top: 30px;
            }
            .admit-headding h1{
            color: var(--White-Color, #FFF);
             text-align: center;
              font-family: Poppins;
              font-size: 18px;
              font-style: normal;
              font-weight: 600;

 }
 .admit-para{
    width: 305px;
    height: 72px;
    margin: 0 auto;
    padding-top: 40px;
 }
 .admit-para p{
color: var(--White-Color, #FFF);
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
 }
 .details-admit{
    height: 27px;
 }
 .right-admit{
    height: 0px;
 }
 .admit-btn{
    display: inline-flex;
    padding: 7px 18px;
    align-items: flex-start;
    border-radius: 5px;
    background: #FFF;
    height: 38px;
    display:flex;
    justify-content: center;
    width: 136px;
    margin-top: 155px;
    margin-left: 100px;
    
    
    }
    .admit-btn a{
        color: #289BDE;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        height: 100%;
    
    }
    .first-highlight-headding{
        width: 70px;
        
    }
    .first-highlight-headding h1{
color: var(--Dark-01, #1D1D1D);
text-align: center;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 600;

    }
    .first-highlight-headding{
        width: 114px;
        margin-top: 130px;
        margin-left: 30px;
    }
    .first-highlight-para{
margin-left: 30px;
    }
    .first-highlight-para p{
  color: var(--Dark-03, #777);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }
    .learn-btn{
        margin-left: 30px;
    }
    .student-headding{
width: 222px;
margin: 0 auto;
margin-top: 32px;
    }


.student-headding h1{
color: var(--Dark-01, #1D1D1D);
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.student-para{
    width: 305px;
    margin: 0 auto;
    margin-top: 20px;
}
.student-para p{
 color: var(--Dark-03, #777);
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; 

}










.student-card-img img{
width: 335px;
height: 300px;
}
.student-details h1{
    color: var(--Dark-02, #4A4A4A);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
}
.student-details p{
    color: var(--Dark-03, #777);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 139px;
   margin: 0 auto;
}
#student-id{
    display: flex;
    flex-direction: column;
gap: 100px;
}
.student-card{
    width: 335px;
    height: 400px;
    border-radius: 5px;
    border: 1px solid var(--Dark-06, #E8E8E8);
    background: #FFF;
    margin: 0 auto;
    }



}